<div class="Navbar">
     <div class="Navbar__Link Navbar__Link-brand">
      Best Buddies - UCR
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
      <i class="fas fa-bars"></i>
    </div>
    <div class="Navbar__Link">
        <a href="/index.html" {% if page.url == "/index.html" %} class="active" style="color: purple"{% endif %}>Home</a>
    </div>
    <div class="Navbar__Link Navbar__Items--right">
        <a href="/members.html" {% if page.url == "/members.html" %}class="active" style="color: purple"{% endif %}>Members</a>
    </div>
<!--
    <div class="Navbar__Link Navbar__Items--right">
        <a href="/newsletters.html" {% if page.url == "/newsletters.html" %}class="active" style="color: purple"{% endif %}>Newsletters</a>
    </div>
    <div class="Navbar__Link Navbar__Items--right">
        <a href="/calendar.html" {% if page.url == "/calendar.html" %}class="active" style="color: purple"{% endif %}>Calendar</a>
    </div> 
-->
    <div class="Navbar__Link Navbar__Items--right">
        <a href="/about.html" {% if page.url == "/about.html" %}class="active" style="color: purple"{% endif %}>About</a>
    </div>
    <div class="Navbar__Link Navbar__Items--right">
        <a href="/about.html" {% if page.url == "/about.html" %}class="active" style="color: purple"{% endif %}> Contact Us </a>
    </div>
  </nav>
</div>

<script>

function classToggle() {
  const navs = document.querySelectorAll('.Navbar__Items')
  
  navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
}

document.querySelector('.Navbar__Link-toggle')
  .addEventListener('click', classToggle);

</script>


